body {
	background: #fdfdfd;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

.logo-container {
    position: absolute;
    top: 0%;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    background-color: #acacacd5;
}
  
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #d46000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	width: 400px;
	border: 1px solid #8f8f8f00;
	padding: 30px;
	background: #c5c5c5;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #d1d0d0;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #000000;
	font-size: 13px;
	padding: 10px;
}

button {
    display: block;
	background: #d46000;
    width: 95%;
	padding: 10px;
	color: #fff;
    margin: 10px auto;
	border-radius: 5px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #f17500;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}